<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head></h:head>
<h:body>
	<ui:composition template="/template.xhtml">
		<ui:define name="title">
			<h:outputText value="#{msg['overview.site.title']}" />
		</ui:define>
		<ui:define name="navbar-brand">
			<h:outputText value="#{msg['overview.navbar.brand']}" />
		</ui:define>
		<ui:define name="searchbar">

		</ui:define>
		<ui:define name="content">
			<div class="row">
				<h1>
					<h:outputText value="#{msg['overview.page.title']}" />
				</h1>

				<a href="index.xhtml">#{msg['page.back']}</a> <br /> <br />

				<div class="panel panel-default">
					<div class="panel-heading">#{msg['overview.person.overview.header']}</div>

					<ul class="list-group">
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4">
									<h:outputText value="#{msg['person.id']}" />
								</div>
								<div class="col-md-8">
									<h:outputText value="#{userInfoBean.person.id}" />
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4">
									<h:outputText value="#{msg['person.fullname']}" />
								</div>
								<div class="col-md-8">
									<h:outputText
										value="#{userInfoBean.person.givenname} #{userInfoBean.person.surname}" />
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4">
									<h:outputText value="#{msg['person.strasse']}" />
								</div>
								<div class="col-md-8">
									<h:outputText value="#{userInfoBean.person.street}" />
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4">
									<h:outputText value="#{msg['person.place']}" />
								</div>
								<div class="col-md-8">
									<h:outputText value="#{userInfoBean.person.place}" />
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4">
									<h:outputText value="#{msg['person.mobile']}" />
								</div>
								<div class="col-md-8">
									<h:outputText value="#{userInfoBean.person.mobile}" />
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4">
									<h:outputText value="#{msg['person.created']}" />
								</div>
								<div class="col-md-8">
									<h:outputText value="#{userInfoBean.person.created}" />
								</div>
							</div>
						</li>
					</ul>
				</div>



				<h:dataTable var="booking" value="#{userInfoBean.booking}"
					styleClass="table table-hover">
					<h:column>
						<f:facet name="header">
								#{msg['booking.id']}
							</f:facet>
						<h:outputText value="#{booking.id}" />
					</h:column>
					<h:column>
						<f:facet name="header">
								#{msg['booking.positions.count']}
							</f:facet>
						<h:outputText value="#{booking.positions.size()}" />
					</h:column>
					<h:column>
						<f:facet name="header">
								#{msg['booking.arrival']}
							</f:facet>
						<h:outputText value="#{booking.arrival}" />
					</h:column>
					<h:column>
						<f:facet name="header">
								#{msg['booking.departure']}
							</f:facet>
						<h:outputText value="#{booking.departure}" />
					</h:column>
					<h:column>
						<f:facet name="header">
						#{msg['overview.booking.actions.header']}
					</f:facet>
						<button type="button" class="btn btn-primary btn-lg"
							data-toggle="modal" data-target="#{booking.modalId1}">
							#{msg['overview.do.show.positions']}</button>

						<!-- Modal -->
						<div class="modal fade" id="#{booking.modalId2}" tabindex="-1"
							role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">#{msg['general.x.close']}</span>
										</button>
										<h4 class="modal-title" id="myModalLabel">#{msg['']}</h4>
									</div>
									<div class="modal-body">
										<h:dataTable var="positions" value="#{booking.positions}"
											styleClass="table table-hover">
											<h:column>
												<f:facet name="header">
													#{msg['positions.id']}
												</f:facet>
												<h:outputText value="#{positions.id}" />
											</h:column>
											<h:column>
												<f:facet name="header">
													#{msg['positions.serviceDescription']}
												</f:facet>
												<h:outputText value="#{positions.serviceDescription}" />
											</h:column>
											<h:column>
												<f:facet name="header">
													#{msg['positions.date']}
												</f:facet>
												<h:outputText value="#{positions.date}" />
											</h:column>
											<h:column>
												<f:facet name="header">
													#{msg['positions.amount']}
												</f:facet>
												<h:outputText value="#{positions.amount}" />
											</h:column>
											<h:column>
												<f:facet name="header">
													#{msg['positions.price']}
												</f:facet>
												<h:outputText value="#{positions.price}" />
											</h:column>
											<h:column>
												<f:facet name="header">
													#{msg['positions.discount']}
												</f:facet>
												<h:outputText value="#{positions.discount}" />
											</h:column>
											<h:column>
												<f:facet name="header">
													#{msg['positions.total']}
												</f:facet>
												<h:outputText value="#{positions.total}" />
											</h:column>
										</h:dataTable>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default"
											data-dismiss="modal">#{msg['general.close']}</button>
									</div>
								</div>
							</div>
						</div>
					</h:column>
				</h:dataTable>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
