<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<h:body> 
	<ui:composition template="/template.xhtml">
		<ui:define name="title">
			<h:outputText value="#{msg['search.site.title']}" />
    	</ui:define>
		<ui:define name="navbar-brand">
			<h:outputText value="#{msg['search.navbar.brand']}" />
    	</ui:define>
		<ui:define name="searchbar">
			<h:form styleClass="navbar-form navbar-left">
				<div class="form-group">
					<h:inputText value="#{searchBean.input}" styleClass="form-control" />
				</div>
				<h:commandButton styleClass="btn btn-default"
					action="#{searchBean.search()}" value="#{msg['search.do.search']}" />
			</h:form>
    	</ui:define>
    	<ui:define name="content">
				<div class="row">
					<h1><h:outputText value="#{msg['search.page.title']}" /></h1>
					<div class="well"><h:outputText value="#{searchBean.statutsMessage}" /></div>
					<h:dataTable var="person" value="#{searchBean.personlist}" styleClass="table table-hover"> 
						<h:column>
							<f:facet name="header">
								#{msg['person.id']}
							</f:facet>
							<h:outputText value="#{person.id}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								#{msg['person.givenname']}
							</f:facet>
							<h:outputText value="#{person.givenname}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								#{msg['person.surname']}
							</f:facet>
							<h:outputText value="#{person.surname}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								#{msg['person.mobile']}
							</f:facet>
							<h:outputText value="#{person.mobile}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								#{msg['person.view.detail']}
							</f:facet>
							<a href="detail-view.xhtml?id=#{person.id}">#{msg['search.show.overview']}</a>
						</h:column>
					</h:dataTable>
				</div>
    	</ui:define>
	</ui:composition>
</h:body> 
</html>
